body {
    background: linear-gradient(45deg, #4CAF50, #8BC34A, #CDDC39);
    background-size: 400% 400%;
    animation: Gradient 15s ease infinite;
}

@keyframes Gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.container {
    font-family: Arial, sans-serif;
    margin: 50px auto;
    max-width: 900px;
    padding: 20px;
  }
  
.header {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
}

.results {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
    padding: 30px;
}

.actions-container {
    display: flex;
    justify-content: space-between; 
}
  
  